// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -

.button{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px 20px;
    margin: 10px 0; 
    font-size: 14px;
    // font-weight: 500;
    font-family: $fontFamily-oswald;
    text-transform: uppercase;
    color: $white;
    background-color: $black;
    border: 2px solid $black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: normal;
    @include transition (.3s);
    &:hover, &:focus{
        background-color: transparent;
        border: 2px solid $black;
        color: $black; 
    }
 }